{% extends "layout.html" %}
{% block title %} Hobi {% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        Data
        {% if session.logged_in %}
        <a href="{{ url_for('create') }}" class="btn btn-primary">Tambah</a>
        {% endif %}

    </div>
    <div class="card-table">
        <table class="table">
            <tr>
                <th></th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Tanggal Lahir</th>
                <th>Kota</th>
                <th>Creation Date</th>
                <th></th>
            </tr>
            {% for orang in orangs %}
            <tr>
                <td> {{ loop.index }}</td>
                <td> {{ orang.nama }} </td>
                <td> {{ orang.alamat }} </td>
                <td> {{ orang.tanggal_lahir }} </td>
                <td> {{ orang.kota }} </td>
                <td>
                    {% if session.logged_in %}
                    <a href="/edit/{{ orang.id }}" class="btn btn-warning">Edit</a>
                    <a href="/delete/{{ orang.id }}" class="btn btn-danger" role="button">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}